replicaCount: 1
admissionController:
  replicas: 1
  serviceMonitor:
    enabled: true
backgroundController:
  replicas: 1
  serviceMonitor:
    enabled: true
cleanupController:
  replicas: 1
  serviceMonitor:
    enabled: true
reportsController:
  replicas: 1
  serviceMonitor:
    enabled: true

grafana:
  enabled: true
  namespace: monitoring
  labels:
    grafana_dashboard: "1"

config:
  resourceFilters:
    - "[Event,*,*]"
    - "[*,kube-system,*]"
    - "[*,calico-system,*]"
    - "[*,tigera-operator,*]"
    - "[*,argocd,*]"
