apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  parentRefs:
    - name: gateway
      namespace: gateway
  hostnames:
    - grafana.home.lab
  rules:
    - backendRefs:
        - name: kube-prometheus-stack-grafana
          port: 80
