---
- name: Download Helm GPG key
  ansible.builtin.get_url:
    url: "{{ helm_gpg_key_url }}"
    dest: "{{ helm_temp_key_path }}"
    mode: "0644"
  tags: helm

- name: Install Helm GPG key
  ansible.builtin.shell: |
    gpg --dearmor < {{ helm_temp_key_path }} > {{ helm_gpg_key_path }}
  args:
    creates: "{{ helm_gpg_key_path }}"
  tags: helm

- name: Add Helm APT repository
  ansible.builtin.apt_repository:
    repo: "{{ helm_apt_repo }}"
    filename: helm-stable-debian
    state: present
  tags: helm

- name: Install Helm package
  ansible.builtin.apt:
    name: helm
    state: present
    update_cache: true
  tags: helm

- name: Clean up temporary Helm GPG key
  ansible.builtin.file:
    path: "{{ helm_temp_key_path }}"
    state: absent
  tags: helm
