---

- name: Check if Helm is already installed
  ansible.builtin.command: helm version --short
  register: helm_installed
  changed_when: false
  failed_when: false
  tags: helm

- name: Include Helm installation tasks
  ansible.builtin.include_tasks: install.yml
  when: helm_installed.rc != 0
  tags: helm

- name: Include Helm verification tasks
  ansible.builtin.include_tasks: verify.yml
  tags: helm
