apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-server-tls
  namespace: argocd
spec:
  secretName: argocd-server-tls
  issuerRef:
    name: homelab-ca
    kind: ClusterIssuer
  privateKey:
    algorithm: ECDSA
    size: 256
  dnsNames:
    - argocd-server
    - argocd-server.argocd.svc
    - argocd-server.argocd.svc.cluster.local
    - argo.home.lab
