apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gateway-api
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
spec:
  project: default
  sources:
    - repoURL: https://github.com/kubernetes-sigs/gateway-api.git
      targetRevision: v1.4.1
      path: config/crd/standard
    - repoURL: https://github.com/nunoferna/homelab.git
      targetRevision: main
      path: gitops/apps/gateway/config
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
