apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: lan-default
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  interfaces:
    - ^eth[0-9]+
  loadBalancerIPs: true
