apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: exit-node
  namespace: tailscale
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  exitNode: true
  hostname: homelab-exit
  replicas: 1
  subnetRouter:
    advertiseRoutes:
      - "10.40.0.0/14"
