apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: exit-node
  namespace: tailscale
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  exitNode: true
  hostname: homelab-exit
  replicas: 1
  subnetRouter:
    advertiseRoutes:
      - "192.168.1.0/24"
