apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-ca
  namespace: vault
  annotations:
    cert-manager.io/inject-ca-from: cert-manager/homelab-ca
---
apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: vault-backend-tls
  namespace: vault
spec:
  targetRefs:
    - group: ""
      kind: Service
      name: vault-ui
  validation:
    hostname: vault.vault.svc
    caCertificateRefs:
      - group: ""
        kind: ConfigMap
        name: backend-ca
