global:
  domain: argocd.apps.internal

configs:
  params:
    server.insecure: true

server:
  httproute:
    enabled: true
    parentRefs:
      - name: gateway
        namespace: gateway
    hostnames:
      - argocd.apps.internal
