replicas: 2

pihole:
  web:
    existingSecret: "pihole-web-password"
    passwordSecretKey: "password"
  ftl:
    dns:
      listeningMode: "ALL"
      upstreams:
        - 1.0.0.1
        - 1.1.1.1
      service:
        enabled: true
        type: LoadBalancer
    webserver:
      tls:
        cert: ""
      domain: "pihole.apps.internal"
      port: "80o,[::]:80o"

  lists:
    adlists:
      # HaGeZi Collections
      - address: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/gambling.txt
      - address: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/spam-tlds.txt
      - address: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/tif.txt
      - address: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/ultimate.txt

      # Firebog Suspicious Lists
      - address: https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
      - address: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
      - address: https://v.firebog.net/hosts/static/w3kbl.txt

      # Firebog Advertising Lists
      - address: https://adaway.org/hosts.txt
      - address: https://v.firebog.net/hosts/AdguardDNS.txt
      - address: https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt
      - address: https://v.firebog.net/hosts/Easylist.txt
      - address: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts

      # Firebog Tracking & Telemetry Lists
      - address: https://v.firebog.net/hosts/Easyprivacy.txt
      - address: https://v.firebog.net/hosts/Prigent-Ads.txt
      - address: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
      - address: https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt
      - address: https://hostfiles.frogeye.fr/firstparty-trackers-hosts.txt

      # Firebog Malicious Lists
      - address: https://v.firebog.net/hosts/Prigent-Crypto.txt
      - address: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts

metrics:
  enabled: true
  dashboards:
    enabled: true
  serviceMonitor:
    enabled: true
    labels:
      release: kube-prometheus-stack
  env:
    - name: PIHOLE_PASSWORD
      valueFrom:
        secretKeyRef:
          name: pihole-web-password
          key: password

resources:
  limits:
    memory: 1Gi   # <-- Increased from 256Mi
    cpu: 500m
  requests:
    memory: 512Mi # <-- Increased from 128Mi
    cpu: 100m

persistence:
  etcPihole:
    enabled: true
    accessMode: ReadWriteOnce
    size: 5Gi
