apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: homelab
  namespace: ingress
spec:
  gatewayClassName: cilium
  addresses:
    - type: IPAddress
      value: 192.168.1.240
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: All
