apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-ca
  namespace: argocd
  annotations:
    cert-manager.io/inject-ca-from: cert-manager/homelab-ca
---
apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: argocd-backend-tls
  namespace: argocd
spec:
  targetRefs:
    - group: ""
      kind: Service
      name: argocd-server
  validation:
    hostname: argocd-server.argocd.svc
    caCertificateRefs:
      - group: ""
        kind: ConfigMap
        name: backend-ca
