apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: backstage
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://backstage.github.io/charts
      chart: backstage
      targetRevision: 2.6.3
      helm:
        valueFiles:
          - $values/gitops/infrastructure/backstage/values.yaml
    - repoURL: https://github.com/nunoferna/homelab.git
      targetRevision: main
      ref: values
    - repoURL: https://github.com/nunoferna/homelab.git
      targetRevision: main
      path: gitops/infrastructure/backstage/base
  destination:
    server: https://kubernetes.default.svc
    namespace: backstage
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
