apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pihole-admin
  namespace: pihole
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault
  target:
    name: pihole-admin
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: homelab/pihole
        property: password
