---

- name: Restart k3s service
  ansible.builtin.systemd:
    name: "{{ k3s_service_name }}"
    state: restarted
    enabled: true
  listen: "restart k3s"

- name: Wait for k3s service
  ansible.builtin.systemd:
    name: "{{ k3s_service_name }}"
    state: started
    enabled: true
  register: k3s_service
  until: k3s_service.status.ActiveState == "active"
  retries: 30
  delay: 10
